{% extends "base.html" %}
{% load static %}
{% load product_extras %}

{% block title %}Purchase{% endblock %}

{% block css %}

{% endblock css %}

{% block next_page %}
<li class="breadcrumb-item text-muted active" aria-current="page"><a
  href="{% url 'purchase:purchase-dashboard' %}"><b class="text-dark">Purchase</b></a> 
{% endblock %}

{% block head %}
Dashboard
{% endblock %}

{% block content %}
<div class="col-lg-12 col-md-6 mt-4">
  <div class="card">
    <div class="row row-bordered g-0">
      <div class="col-md-12">
        <h5 class="card-header m-0 me-2 pb-3"> Month Wise Product Sales</h5>
        {{monthly_sales}}
      </div>
      
      <table class="table table-sm table-bordered">
        <tr>
          <th>No</th>
          <th>Code</th>
          <th>Name</th>
          <th>Stock</th>
          <th>MSL</th>
          
          
        </tr>
        {% for i in products %}
        <tr>
          <td> {{forloop.counter}} </td>
          <th> {{i.part_no}} </th>
          <th> {{i.name}} </th>
          <th> {{i.stock}} </th>
          <th> {{i.minimum_stock_level}} </th>
          
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>


{% endblock content %}

{% block js %}
<script>
  $('#purchase-menu').addClass('active open');
  $('#purchase-dashboard').addClass('active')
</script>
{% endblock js %}