<!DOCTYPE html>
<html>
<head>
    <title>My PDF</title>
    <style>
        td {
            text-align: center;
          }
        
    </style>
</head>
<body>
    <table style="width:100%;border: solid thin;" >
        <tr>
            <th colspan="7"><h2>Krunal Industries</h2></th>
            
        </tr>
        <tr>
            <th colspan="7"><h3>DESPATCH NOTE</h3></th>
            
        </tr>
    </table>
    <table style="width:100%; border-collapse: collapse;margin-top:5px" border='1' >
        <tr>
            <th colspan="2">DN No.:</th>
            <td colspan="2">{{order_details.order_no}}</td>
            <th colspan="2">Date:</td>
            <td colspan="2">{% now "d-m-Y" %}</td>
        </tr>
    </table>
    <table style="width:100%">
        <tr>
                                                                
            <th><b>Customer Name:</b></th>
            <th><b>Contect Person</b></th>
            <th><b>Mobile</b></th>
            <th><b>Email</b></th>
            <th colspan="4"><b>GST No.</b></th>
        </tr>
        <tr>
            <td>{{order_details.customer.name}}</td>
            <td>{{order_details.customer.contect_person}}</td>
            <td>{{order_details.customer.mobile}} / {{order_details.customer.mobile1}}</td>
            <td>{{order_details.customer.email}}</td>
            <td colspan="4">{{order_details.customer.gst_no}}</td>
        </tr>
    </table>
    <table style="width:100%; margin-top:20px; border-collapse: collapse;" border='1' >
        <tr>
            <th colspan="4">Billed to</th>
            <th colspan="4">Shipped to</th>
        </tr>
        <tr>
            <td colspan="2">Name</td>
            <td colspan="2">{{order_details.billing_add.contect_person}}</td>
            
            <td colspan="2">Name</td>
            <td colspan="2">{{order_details.shipped_add.contect_person}}</td>
            
        </tr>
        <tr>
            <td colspan="2">Address/Street/Landmark</td>
            <td colspan="2">{{order_details.billing_add.street}}, {{order_details.billing_add.street2}}</td>
            
            <td colspan="2">Address/Street/Landmark</td>
            <td colspan="2">{{order_details.shipped_add.street}}, {{order_details.shipped_add.street2}}</td>
        </tr>
        <tr>
            <td colspan="2">Pincode</td>
            <td colspan="2">{{order_details.billing_add.zip}}</td>
            <td colspan="2">Pincode</td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td colspan="2">State</td>
            <td colspan="2">{{order_details.billing_add.state.name}}</td>
            <td colspan="2">State</td>
            <td colspan="2">{{order_details.shipped_add.state.name}}</td>
        </tr>
        <tr>
            <td colspan="2">Country</td>
            <td colspan="2">{{order_details.billing_add.country.name}}</td>
            <td colspan="2">Country</td>
            <td colspan="2">{{order_details.shipped_add.country.name}}</td>
        </tr>
        <tr>
            <td colspan="2">GST NO.</td>
            <td colspan="2">{{order_details.customer.gst_no}}</td>
            <td colspan="2">GST NO.</td>
            <td colspan="2">{{order_details.customer.gst_no}}</td>
        </tr>

    </table>
    <table style="margin-top:50px; border-collapse: collapse;" border='1'>
    
    
        <tr>
            <td>Sr.No.</td>
            <td>Order Date</td>
            <td>Product Code</td>
            <td>Product Description</td>
            <td>Qty. </td>
            <td>Dispatch Status</td>
            <td>Delivery Status </td>
            
        </tr>
        {% for i in products %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.order.date|date:"d-m-Y"}}</td>
            <td>{{i.product.code}}</td>
            <td> {{i.product.name}} </td>
            <td>{{i.order_qty}} {{i.uom}}</td>
            <td>{{i.dispatch_status}}</td>
            <td>{{i.status}}</td>
            
        </tr>
        {% endfor %}
    </table>
    <table style="margin-top:50px; border-collapse: collapse; width:100%;" border='1'>
        <col style="width:200px">
        <tr>
            <th style="text-align:left">Remarks</th>
            <th style="text-align:left">{{order_details.remarks}}</th>
        </tr>
        <tr>
            <th style="text-align:left">Document Generated By</th>
            <td style="text-align:left">{{ user.name }}</td>
        </tr>
    </table>

    <table width="100%" style="position: absolute; margin-top:50px;">
        
        <tr>
            <td style="text-align:left">Document Prepared By:</td>
            <td style="text-align:right">Document Approved By:</td>
        <tr>
    </table>
</body>
</html>