{% extends "base.html" %}
{% load static %}
{% load product_extras %}

{% block title %}All Orders{% endblock %}

{% block css %}

{% endblock css %}

{% block next_page %}
<li class="breadcrumb-item text-muted active" aria-current="page"><a
  href="{% url 'products:products-list' %}">Orders</a> / <b class="text-dark">All<b></li>
{% endblock %}

{% block head %}
All Orders
{% endblock %}

{% block content %}

<div class="container-fluid mt-3 mb-5">
  <div class="row">
    <div class="col-4 mb-3">
      <div class="input-group">
        <label class="input-group-text" for="inputGroupSelect01">Categories</label>
        <select class="form-select" id="inputGroupSelect01">
          <option value="0" selected>Choose...</option>
          {% for category in categories %}
          <option value={{category.id}}>{{category.name}}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="col-4">
      <input type="text" class="form-control" id="id_search" name="search" placeholder="Search" />      
    </div>
    
    <div class="col-12">

      <!-- Basic Bootstrap Table -->
      <div class="card">
        
        
        {% comment %} <a class="btn btn-success col-1">Add New</a> {% endcomment %}
        <div class="table-responsive text-nowrap text-center" id="id_products_list">
          <table class="table">
            <thead>
              <tr>
                <th>No</th>
                {% comment %} <th>Code</th> {% endcomment %}
                <th>Date</th>
                <th>Order No</th>
                <th>Customer Name</th>
                <th>Product</th>
                {% comment %} <th>sales_challan</th> {% endcomment %}
                <th>Status</th>              
                <th>Confirmation <br>Status</th>                
                <th>Action</th>
              </tr>
              
            </thead>
            <tbody class="table-border-bottom-1">
              {% for order in orders %}
              {% if order.order_confirmation == "IN REVIEW" %}
              <tr class=" alert-primary" >
              {% elif order.order_confirmation == "HOLD" %}
              <tr class="alert-danger">
              {% else %}
              <tr class="">
              {% endif %}
              
                <td>
                {{ forloop.counter }}
                </td>
                <td>{{order.date|date:"d M, Y"}}</td>
                <td>{{order.order_no}}</td>
                <td>{{order.customer.name}}</td>
                <td>
                  <table class="table">
                    <tr>
                      <th>Product code</th>
                      <th>Qty</th>
                      <th>Dispatch</br>Status</th>
                      <th>Status</th>
                    </tr>
                    {% if  order.orderofproduct_set.all %}
                    {% for i in order.orderofproduct_set.all %}
                    {% if order.order_confirmation == 'CONFORMED' %}
                    {% if i.dispatch_status == 'DISPATCHED' and i.status == 'DELIVERED' %}
                    <tr>
                    {% elif i.dispatch_status == 'DISPATCHED' and i.status == 'IN TRANSPORT' %}
                    <tr class="bg-primary text-white">
                    {% elif i.dispatch_status == 'UNDER PROCESS' %}
                    <tr class="bg-warning">
                    {% elif i.dispatch_status == 'READY' %}
                    <tr class="bg-success">
                    {% elif i.dispatch_status == 'PENDING' %}
                    <tr class="bg-danger text-white">
                    {% endif %}
                    {% else %}
                    <tr>
                    {% endif %}
                    
                      <td>{{i.product.code}}</td>
                      <td>{{i.order_qty}}/{{i.uom}}</td>
                      <td>{{i.dispatch_status}}</td>
                      <td>{{i.status}}</td>
                      
                    </tr>
                    {% endfor %}
                    {% else %}
                    No Product
                    {% endif %}
                  </table>
                </td>
                {% comment %} <td>{{order.sales_challan}}</td> {% endcomment %}
                <td>{{order.order_status}}</td>
                <td>{{order.order_confirmation}}</td>                
                <td>
                  <a href="{% url 'orders:order-details' order.id %}" class="btn btn-success btn-circle " title="Publish"><i class="fa-regular fa-eye"></i></a>
                  {% comment %} <a href="{% url 'products:product-property' product.id %}"
                                class="btn btn-success btn-circle " title="Publish"><i class="fa-solid fa-magnet"></i></i></a>
                  
                  <a href="{% url 'products:products-edit' product.id %}" class="btn btn-primary btn-circle "
                                title="Product Edit"><i class="fas fa-edit" aria-hidden="true"></i></a>
                  <a href="" class="open-modal btn btn-danger btn-circle " data-toggle="modal"
                                data-target="" title="Delete"><i class="fa fa-trash"
                                    aria-hidden="true"></i></a> {% endcomment %}
                </td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
          
        </div>
        
      </div>
      <!--/ Basic Bootstrap Table -->
    </div>
  </div>
  <div class="row container-fluid mt-2">
 
    {% if products.paginator.num_pages > 1 %}    
    {% include 'components/pagination.html' with items=products paginator=products.paginator %}
    {% endif %}
</div>
</div>
<div class="mt-5"></div>

{% endblock content %}

{% block js %}
<script>
  $('#orders-menu').addClass('active open');
  $('#orders-list').addClass('active')
</script>

<script>
  $(document).on("keyup", "#id_search", function () {
    var select = document.getElementById("inputGroupSelect01");
    var selectedOption = select.options[select.selectedIndex];
    var selectedValue = selectedOption.value;
    
    var query = this.value;
    // var category = $()
    // $.ajax({
    //     url: '/products/search/',
    //     type: 'GET',
    //     data: { 'query': query, "category":selectedValue},
    //     success: function (data) {
    //         $('#id_products_list').html(data.data);
    //     }
    // });
});
</script>
{% endblock js %}