{% extends "base.html" %}
{% load static %}
{% load product_extras %}

{% block title %}Reports{% endblock %}

{% block css %}

{% endblock css %}

{% block next_page %}
<li class="breadcrumb-item text-muted active" aria-current="page"><a
  href="{% url 'inventry:inventry-dashboard' %}">Orders</a> / <b class="text-dark">Reports<b></li>
{% endblock %}

{% block head %}
Reports    
{% endblock %}

{% block content %}

<div class="container-fluid mt-3 mb-5">
  <div class="row">
    <div class="col-12">
        <div class="row">
          <div class="col-2">
            <label>Start Date</label>
            <input type="date" class="form-control mb-3" id="startDate" name="start_date" />      
          </div>
          <div class="col-2">
            <label>End Date</label>
            <input type="date" class="form-control mb-3" id="endDate" name="end_date" />      
          </div>
          
          <div class="col-2">
            <label>Order Dispatch Status</label>
            <select class="form-select" id="OrderDispatchStatus">
              <option value="choose" selected>Choose...</option>
              {% for status in order_dispatch_status %}
              <option value="{{status}}">{{status}}</option>
              {% endfor %}
            </select>
          </div>
      
          <div class="col-2">
            <label>Order Status</label>
            <select class="form-select" id="OrderStatus">
              <option value="choose" selected>Choose...</option>
              {% for status in order_status %}
              <option value="{{status}}">{{status}}</option>
              {% endfor %}
            </select>
          </div>
          
      
          <div class="col-3">
            <label>Search Input</label>
            <input type="text" class="form-control mb-3" id="id_search" name="search" placeholder="Search" />      
          </div>
      
          <div class="col-1">
            
            <button type="submit" class="form-control mt-4 btn-success" id="btn-search" name="search" placeholder="Search" />Search</button>      
          </div>
        </div>
    </div>
    <div class="col-12">

      <!-- Basic Bootstrap Table -->
      <div class="card" id="report-card">
        <div class="table-responsive text-nowrap">
          <a href="{% url 'orders:export-report' %}" id="export-link"><button style="float:right;margin-right:20px;" class="btn btn-success mt-2" type="submit" id="data-export-btn">Export</button><a>
          <table class="table text-center">
            <thead>
              <tr>
                <th>No</th>
                <th>Order<br> No</th>
                <th>Customer</th>
                <th>Date</th>
                <th>Code</th>
                <th>Product</th>
                <th>Specification</th>
                <th>Qty</th>
                <th>Unit</th>
                <th>Packaging <br/>Type</th>
                <th>Status/date</th>
                <th>Dispatch/Date</th>
                <th>Transport</th>
                <th>Lr. No</th>
                <th>Invoice. No</th> 
              </tr>
            </thead>
            <tbody class="table-border-bottom-0" id="data-stock-body">
              <tr>
                <td colspan=7 align="center">No Data Availabel</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!--/ Basic Bootstrap Table -->
    </div>
  </div>
  <div class="row container-fluid mt-2">
 
    {% if products.paginator.num_pages > 1 %}    
    {% include 'components/pagination.html' with items=products paginator=products.paginator %}
    {% endif %}
</div>
</div>
<div class="mt-5"></div>

{% endblock content %}

{% block js %}
<script>
  $(document).on("click", "#btn-search", function () {
    var startDate = document.getElementById("startDate").value //endDate, OrderDispatchStatus, OrderStatus, id_search
    var endDate = document.getElementById("endDate").value
    var dispatchStatus = document.getElementById("OrderDispatchStatus")
    var orderStatus = document.getElementById("OrderStatus")
    var queryInput = document.getElementById("id_search").value
    var selectDispatch = dispatchStatus.options[dispatchStatus.selectedIndex].value
    var selectStatus = orderStatus.options[orderStatus.selectedIndex].value
    console.log(selectStatus,selectDispatch)
    
    $.ajax({
        url: '/orders/search/',
        type: 'GET',
        data: { 'query': queryInput, "dispatch_status":selectDispatch, "order_status":selectStatus, "start":startDate, "end":endDate},
        success: function (data) {
            $('#id_products_list').html(data.data);
        }
    });
});
</script>
{% endblock js %}