{% load product_extras %}
{% if request.user.account.all.count > 1 %}
{% if request.path == '/products/list/' and account.id|get_product_count > 0 %}
{% if request.user.role == 'SUPER_ADMIN' or request.user.role == 'MANAGER' or request.user.role == 'BUSINESS_OWNER' %}
<div class=" col-12 float-right">
    <a href="{% url 'accounts:account-product' account.id|encode_notification %}"
        class="float-right btn btn-success">Show More <i class="fas fa-arrow-right ml-2"></i></a>
</div>
{% elif request.user.role == 'QC_MANAGER' and account.id|get_product_count:'IMPROVEMENT_REQUIRED' > 0 %}
<div class=" col-12 float-right">
    <a href="{% url 'accounts:account-product' account.id|encode_notification %}"
        class="float-right btn btn-success">Show More <i class="fas fa-arrow-right ml-2"></i></a>
</div>
{% elif request.user.role == 'QC_VALIDATOR' and account.id|get_product_count:'IN_REVIEW' > 0 %}
<div class=" col-12 float-right">
    <a href="{% url 'accounts:account-product' account.id|encode_notification %}"
        class="float-right btn btn-success">Show More <i class="fas fa-arrow-right ml-2"></i></a>
</div>
{% endif %}
{% endif %}
{% endif %}