{% extends 'base.html' %}
{% load static %}

{% block title %}
Product Properties
{% endblock %}

{% block css %}
{% endblock %}

{% block head %}
Product Properties
{% endblock %}

{% block next_page %}
<li class="breadcrumb-item text-muted" aria-current="page"><a href="{% url 'products:products-list' %}">Products</a></li>
<li class="breadcrumb-item text-muted active" aria-current="page">Properties</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4 ">
        <div class="card">
            <div class="ml-3 mt-3 card-title">
                <h3>Product Image</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <img src="{{product.image}}" alt="product.name" width="300px">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-8 ">
        <div class="card">
            <div class="ml-3 mt-3 card-title">
                <h3>Product Properties</h3>
            </div>
            <div class="card-body">
                <form id="id_property_form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-5">
                            <div class="form-group">
                                <label for="id_attribute" class="text-dark"><b>Property
                                        Name</b></label>

                                <input type="text" id="id_attribute" name="attribute" class="form-control dropdown"
                                    list="attribut_list" required>
                                <div>
                                    <datalist id="attribut_list">
                                        {% for i in attribute %}
                                        <option value="{{i.name}}"></option>
                                        {% endfor %}
                                    </datalist>
                                </div>

                            </div>
                        </div>
                        <div class="col-5">
                            <div class="form-group">
                                <label for="id_value" class="text-dark"><b>Property Value</b></label>
                                <input type="text" id="id_value" name="value" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <button type="submit" id="id_save_property" name="save_property"
                                    class="btn btn-success bg-gradient-success"
                                    style="margin-top: 32px; border-radius: 50%;" title="Add Property">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <hr>
                <div class="row">

                    <h4 class="text-dark mt-3">Product Properties</h4>
                    <div class="table-responsive" id="id_attribute_data" style="height: 200px;overflow: scroll;">
                        {% if properties %}
                        <table class="table table-striped table-bordered display no-wrap">
                            <thead class="text-white bg-primary">
                                <tr>
                                    <th>Property</th>
                                    <th>Value</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody class="text-dark">
                                {% for property in properties %}
                                <tr>
                                    <td>
                                        {{ property.attribute.name|title }}
                                    </td>
                                    <td>
                                        {{ property.value }}
                                    </td>
                                    <td>
                                        <center>
                                            <a href="javascript:void(0)"
                                                class="remove_attribute btn btn-danger btn-sm bg-gradient-danger"
                                                data-id="{{ property.id }}" id="id_remove_attribute"
                                                onclick="deleteAttribute(this);"><span class="fa fa-trash"></span></a>
                                        </center>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {%else%}
                        <center>
                            No Properties
                        </center>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a href="{{previous_url}}" class="btn btn-success" style="float: right;">Finish</a>
    </div>
</div>
{% endblock %}

{% block js %}
{% comment %} {% include 'components/active/products-js.html' %} {% endcomment %}
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script>
    $("#id_property_form").submit(function (e) {
        e.preventDefault();
        var form = $("#id_property_form").validate();
        if (form == false)
            return false;
        create_attribute();
    });

    function create_attribute() {
        var attribute = $('input[name=attribute]').val();
        var value = $('input[name=value]').val();
        var data = {};
        data["attribute"] = attribute;
        data["value"] = value;

        $.ajax({
            url: '{% url "products:product-property" product.id %}',
            type: "POST",
            data: { "data": JSON.stringify(data), 'csrfmiddlewaretoken': '{{csrf_token}}' },
            success: function (html) {
                $('#id_attribute_data').html(html.data);
                $('input[name=attribute]').val('');
                $('input[name=value]').val('');
            },
            error: function () {
                alert('Error');
            }
        });
    }

    function deleteAttribute(e) {
        var id = jQuery(e).data("id");
        $.ajax({
            url: '{% url "products:remove-property" %}',
            type: 'POST',
            data: { 'id': id, 'csrfmiddlewaretoken': '{{csrf_token}}' },
            success: function (html) {
                $('#id_attribute_data').html(html.data);
            },
            error: function () {
                alert('Error')
            }
        });
    }
</script>
{% endblock %}