{% extends "base.html" %}
{% load static %}

{% block title %}Product Inward{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://basuriautomotive.com/assets/css/aiz-core.css">
{% endblock css %}

{% block next_page %}
<li class="breadcrumb-item text-muted active" aria-current="page"><a
        href="{% url 'vendors:vendor-list' %}">Products</a> / <b class="text-dark">Inward<b></li>
{% endblock %}

{% block head %}
New Inward
{% endblock %}

{% block content %}
<div class="row">
        <div class="col-md-12 mt-3">
                <div class="card mb-4">
                  <h5 class="card-header">New Inward</h5>
                  <div class="card-body">
                    <form class="mt-3 " method="post" enctype="multipart/form-data" action='.'
                    data-url='{{ request.build_absolute_uri|safe }}' id="create-inward">
                            {% csrf_token %}
                            <div class="row">
                                <form method="POST" action=".">
                                    {% csrf_token %}
                                    <div class="d-flex align-items-start">
                                        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                          <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#basic-details" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Basic Details</button>
                                          <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#po-reference" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">PO Reference</button>
                                          <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#po-item" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Po Items</button>
                                          {% comment %} <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false"></button> {% endcomment %}
                                        </div>

                                        <div class="tab-content col-8" id="v-pills-tabContent">
                                          <div class="tab-pane fade show active" id="basic-details" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                            <div class="mb-3">
                                                <label class="form-label" for="basic-default-inword-">{{form.po_no.label}}</label>
                                                <span class="text-danger"></span>
                                                {{form.po_no}}
                                                <span class="text-danger print_error" id="po_no"></span>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label" for="basic-default-inword-">{{form.bill_date.label}}</label>
                                                <span class="text-danger"></span>
                                                {{form.bill_date}}
                                                <span class="text-danger print_error" id="bill_date"></span>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label" for="basic-default-inword-">{{form.bill_no.label}}</label>
                                                <span class="text-danger"></span>
                                                {{form.bill_no}}
                                                <span class="text-danger print_error" id="bill_no"></span>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label" for="basic-default-inword-">{{form.remarks.label}}</label>
                                                <span class="text-danger"></span>
                                                {{form.remarks}}
                                                <span class="text-danger print_error" id="remarks"></span>
                                            </div>
                                            <div class="mb-3">
                                                <button class="btn btn-primary fl-end" type="button" id="basic-detail-next" onclick="$('#v-pills-profile-tab').trigger('click')">Next</button>
                                            </div>
                                          </div>
                                          <!--po-reference-->
                                          <div class="tab-pane fade" id="po-reference" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                            Vendor Details
                                            
                                           
                                            <div class="row">
                                                <div class="col-6">
                                                    <button class="btn btn-primary fl-end" type="button" id="basic-detail-next" onclick="$('#v-pills-home-tab').trigger('click')"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
                                                </div>
                                                <div class="col-6">
                                                    <button class="btn btn-success fl-end" type="button" id="basic-detail-next" onclick="$('#v-pills-messages-tab').trigger('click')">Next</button>
                                                </div>
                                                <table class="col-6 table" id="vendor-details">
                                                
                                                </table>
                                                <div class="mb-3">
                                                    {% comment %} <button class="btn btn-primary fl-end" type="button" id="basic-detail-next" onclick="$('#v-pills-messages-tab').trigger('click')">Next</button> {% endcomment %}
                                                </div>
                                            </div>
                                          </div>
                                          <!--po-item-->
                                          <div class="tab-pane fade" id="po-item" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                                            Items
                                            <div class="mb-3 mt-4">
                                                <button class="btn btn-primary fl-end" type="button" id="basic-detail-next" onclick="$('#v-pills-profile-tab').trigger('click')">Back</button>
                                            </div>
                                            <div class="table-responsive text-nowrap">
                                                <table class="table table-bordered" id="po-of-product">
                                                    <thead>
                                                        <tr>
                                                          <th>Sr.No</th>
                                                          <th>Part No</th>
                                                          <th>Description</th>
                                                          <th>Unit</th>
                                                          <th>Price</th>
                                                          <th>Qty</th>
                                                          <th>Pending Qty</th>
                                                          <th>Received Qty</th>
                                                          <th>Select</th>
                                                        </tr>
                                                      </thead>
                                                      <tbody>

                                                      </tbody>
                                                </table>
                                            </div>
                                            <div class="mb-3 mt-4">
                                                <button class="btn btn-success" style="float-right" type="submit" id="submit_btn">Add</button>
                                            </div>
                                          </div>

                                      </div>
                                  
                                    <div class="col-8">

                                    </div>
                                </form>
                            </div>
                      
                    </div>
                </div>
                
        </div>
        <div class="col-md-4 mt-3">
            <div class="row">
                <div class="col-12 card">
                    <div class="row" id="inward_data">
                        
                    </div>
                </div>
            </div>
        </div>            
    </div>
    
{% endblock %}

{% block js %}
<script src="{% static 'js/jquery.form.js'%}"></script>
<script>
    $(document).ready(function () {
        var $myForm = $('#create-inward')
        $myForm.on("submit", function (event) {
            event.preventDefault()
            var formData = $(this).serialize()
            console.log(formData);
            var $thisURL = $myForm.attr('data-url') || window.location.href // or set your own url
            option = {
                method: "POST",
                url: $thisURL,
                data: formData,
                success: function (data) {
                    if (data.error) {
                        var message = "<div class='bs-toast toast fade show bg-{{message.tags}} toast-placement-ex m-2 top-0 end-0' role='alert' aria-live='assertive' aria-atomic='true' style='float:right'>" +
                            "<div class='toast-header bg-danger'>" +
                            "<strong class='mr-auto text-white'>Error</strong>" +
                            "<button type='button' class='ml-2 mb-1 close' data-dismiss='toast'>&times;</button>" +
                            "</div><div class='toast-body'>Error Occurred, Try with Manual Image Upload" +
                            "</div></div>";
                        $("#error-message").html(message);
                        $('.toast').toast('show');
                    }
                    else {
                    }
                },
                error: function (data) {
                    $(".print_error").text("")
                    $("#qc_status").text("")
                    $("#part").text("")
                    $("#qc_status").text("")
                    $("#received_qty").text("")
                },
            }
            $myForm.ajaxSubmit(option)
        })
    })
</script>
<script>
    $('#inward-menu').addClass('active open');
    $('#new-inward').addClass('active')
</script>
<script>
    $(document).ready(function () {
        $("#id_po_no").change(function () {
            var id = $(this).val();
            $.ajax({
                type: 'GET',
                url: "{% url 'purchase:get-po' 1  %}".replace("1", id),
                success: function (response) {
                    console.log(response)
                    var data = response.data;
                    var table = $('#vendor-details');
                    table.html("")

                    for (const key in data) {
                        if (data.hasOwnProperty(key)) {
                            // Create a new row
                            var row = $('<tr>');
                            
                            // Create a data cell for the key
                            var keyCell = $('<td>').text(key);
                            
                            // Create a data cell for the value
                            var valueCell = $('<th>').text(data[key]);
                            
                            // Append the cells to the row
                            row.append(keyCell);
                            row.append(valueCell);
                            
                            // Append the row to the table body
                            table.append(row);
                        }
                    }
                    
                    var status = response.po_status;
                    var table = $('#po-of-product tbody');

                    if (status) {
                        var products = response.products;
                        table.empty();
                        var textBox = $('<input>').attr('type', 'text').attr('name', 'quantity[]').attr('class', 'form-control');
                        var checkbox = $('<input>').attr('type', 'checkbox').attr('name', 'select[]').attr('class', 'form-check-input');
                        var counter = 1;
                    
                        $.each(products, function() {
                            if (this.qty - this.recived_qty != 0) {
                                var row = $('<tr></tr>').append(
                                    $('<td></td>').text(counter++),
                                    $('<td></td>').text(this.part_no),
                                    $('<td></td>').text(this.name),
                                    $('<td></td>').text(this.uom),
                                    $('<td></td>').text(this.price),
                                    $('<td></td>').text(this.qty),
                                    $('<td></td>').text(this.qty - this.recived_qty)
                                );
                            
                                // Append textBox to the row
                                var textBoxCell = $('<td></td>').append(textBox.clone()); // Clone textBox to prevent multiple instances having the same ID
                            
                                // Append checkbox to the row
                                var checkboxCell = $('<td></td>').append(checkbox.clone().attr('value', this.id)); // Clone checkbox to prevent multiple instances having the same ID
                            
                                // Append textBoxCell and checkboxCell to the row
                                row.append(textBoxCell);
                                row.append(checkboxCell);
                            
                                // Append the row to the table
                                table.append(row);
                            }
                        });
                        $('#submit_btn').show()
                    } else {
                        table.empty();
                        var row = $('<tr></tr>').append(
                            $('<td colspan="9" class="text-danger text-center"></td>').text("PO WAS CLOSED")
                        );
                        table.append(row);
                        $('#submit_btn').hide()
                    }

                    
                },
                error: function (error) {
                    console.log(error)
                }
            })
        })

    });
    
</script>


{% endblock %}