{% load social_share%}
{% if products.count != 0 %}
<div class="col-12 bg-white">
    <br>
    <u>
        <h3 class="text-dark card-title mt-3" id="business_name"></h3>
    </u>
    <br>
    <div class="row">

        {% for product in products %}
        <div class="col-lg-3 col-md-6">
            <!-- Card -->
            <div class="card">
                <div class="ribbon ribbon-top-right">
                    {% if product.stage == 'APPROVED' %}
                    <span class="bg-success ">Approved</span>
                    {% elif product.stage == 'REJECTED' %}
                    <span class="bg-danger ">Rejected</span>
                    {% else %}
                    {% if not request.user.role == "BUSINESS_OWNER" %}
                    {% if product.stage == 'IMPROVEMENT_REQUIRED' %}
                    <span class="bg-primary ">Improvement Required</span>
                    {% elif product.stage == 'IMPROVEMENT_REVIEW' %}
                    <span class="bg-primary ">Improvement Review</span>
                    {% else %}
                    <span class="bg-primary ">In Review</span>
                    {% endif %}
                    {% else %}
                    <span class="bg-primary ">In Review</span>
                    {% endif %}
                    {% endif %}
                </div>
                {% if perms.products.can_approve_product or perms.products.can_update_tryon %}
                {% if request.user.role == "QC_VALIDATOR" or request.user.role == "QC_MANAGER" %}
                <a href="#" id="id_approve_image" data-toggle="modal"
                    data-id='{"original_image": "{{ product.image }}", "try_on_image": "{{ product.try_on_image }}", "alt_text": "{{ product.name }}"}'
                    data-improve="{% url 'products:qc-validate' product.id 'IMPROVEMENT_REQUIRED' %}"
                    data-approve="{% url 'products:qc-validate' product.id 'APPROVED' %}"
                    data-reject="{% url 'products:qc-validate' product.id 'REJECTED' %}"
                    data-edit="{% url 'products:update-tryon' product.id %}" data-target="#id_approve_modal">
                    <img class="card-img-top" src="{{ product.image }}" alt="{{ product.name }}" height="275"
                        width="200">
                </a>
                {% else %}
                <a href="{% url 'products:product-details' product.id %}">
                    <img class="card-img-top" src="{{ product.image }}" alt="{{ product.name }}" height="275"
                        width="200">
                </a>
                {% endif %}
                {% else %}
                <a href="{% url 'products:product-details' product.id %}">
                    <img class="card-img-top" src="{{ product.image }}" alt="{{ product.name }}" height="275"
                        width="200">
                </a>
                {% endif %}
                <div class="card-body">

                    <span class="badge badge-primary">{{ product.category|title }}</span>
                    <h4 class="card-title">{{ product.name }} - {{ product.code }}</h4>
                    <center>
                        {% if perms.products.can_publish_product %}
                        {% if product.stage == 'APPROVED' %}
                        {% if product.state == 'DRAFT' %}
                        <a href="{% url 'products:approve-disapprove' product.id %}" class="btn btn-success btn-circle "
                            title="Publish"><i data-feather="globe" aria-hidden="true"></i></a>
                        {% else %}
                        <a href="{% url 'products:approve-disapprove' product.id %}" class="btn btn-danger btn-circle "
                            title="Draft"><i class="fa fa-times" aria-hidden="true"></i></a>
                        {% endif %}
                        {% endif %}
                        {% endif %}
                        {% if user.is_superuser %}
                        <a href="#" class="open-modal btn btn-danger btn-circle " data-toggle="modal"
                            data-id='{"message":"Are you sure you want to delete \"{{product.name}}\"?","link":"{% url "products:delete" product.id %}", "button_value": "Delete"}'
                            data-target="#conformation" title="Delete"><i class="fa fa-trash"
                                aria-hidden="true"></i></a>
                        {% endif %}
                        {% if perms.products.can_edit_product %}
                        <a href="{% url 'products:edit' product.id %}" class="btn btn-primary btn-circle "
                            title="Product Edit"><i class="fas fa-edit" aria-hidden="true"></i></a>
                        {% endif %}
                    </center>
                </div>
            </div>
            <!-- Card -->
        </div>
        {% endfor %}

    </div>
</div>
{% else %}
<div class="col-12 bg-white">
    <center>
        <h3>No Products</h3>
    </center>
</div>
{% endif %}