{% extends "base.html" %}
{% load static %}
{% load product_extras %}

{% block title %}All Products{% endblock %}

{% block css %}

{% endblock css %}

{% block next_page %}
<li class="breadcrumb-item text-muted active" aria-current="page"><a
  href="{% url 'products:products-list' %}">Products</a> / <b class="text-dark">All<b></li>
{% endblock %}

{% block head %}
All Products    
{% endblock %}

{% block content %}

<div class="container mt-3 mb-5">
  <div class="row">
    <div class="col-12">
      <a href="{% url 'products:products-create' %}"><button type="button" class="btn btn-success  mb-2"
        style="float: right; ">Add New Product</button></a>
    </div>
    <div class="col-12">

      <!-- Basic Bootstrap Table -->
      <div class="card">
        <h5 class="card-header">All Products</h5>
        
        {% comment %} <a class="btn btn-success col-1">Add New</a> {% endcomment %}
        <div class="table-responsive text-nowrap">
          <table class="table">
            <thead>
              <tr>
                <th>No</th>
                {% comment %} <th>Code</th> {% endcomment %}
                <th>Image</th>
                <th>Part<br> No</th>
                <th>Name</th>
                <th>UOM</th>
                <th>Stock</th>
                <th>Minimum<br> Stock<br> Level</th>
                
                <th>Status</th>
                <th>Action</th>
              </tr>
              <tr>
                
                {% comment %} <th>Code</th> {% endcomment %}
                <th colspan=2 class="text-dark"><b>Search</b>  </th>
                <th><input type="text" name="part_no" id="part_no" placeholder="Part Number"></th>
                <th><input type="text" name="name" id="name" placeholder="Product Name"></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
              {% for product in products %}
              <tr >
                {% comment %} <td> 
                  {% with forloop.counter as counter %}
                    {{ counter|adjust_for_pagination:page:results_per_page }}
                  {% endwith %} {% endcomment %}
                  {{ forloop.counter|adjust_for_pagination:page:results_per_page }}
                  {% comment %} {{ forloop.counter|adjust_for_pagination:page:results_per_page }} {% endcomment %}
                   {% comment %} {{ forloop.counter }} {% endcomment %}
                  
             </td>
                <td><img src="{{product.image}}" height="50px" width="50px"></td>
                <td>{{product.part_no}}</td>
                <td>{{product.name}}</td>
                <td> {{product.umo}} </td>
                {% if product.stock < product.minimum_stock_level %}
                <td class="bg-danger"> 
                  {% else %}
                  <td> 
                {% endif %}
                {{product.stock}} </td>
                
                <td>{{product.minimum_stock_level}} </td>
                
                <td> 
                    {% if product.is_active %}
                    <i class="fas fa-check text-success" style="font-size: 15px;"></i>
                    {% else %}
                    <i class="fas fa-times text-danger" style="font-size: 15px;"></i>
                    {% endif %}
                </td>
                <td>
                  <a href="{% url 'products:product-property' product.id %}"
                                class="btn btn-success btn-circle " title="Publish"><i class="fa-solid fa-magnet"></i></i></a>
                  <a href=""
                                class="btn btn-success btn-circle " title="Publish"><i class="fa-regular fa-eye"></i></a>
                  <a href="{% url 'products:products-edit' product.id %}" class="btn btn-primary btn-circle "
                                title="Product Edit"><i class="fas fa-edit" aria-hidden="true"></i></a>
                  <a href="" class="open-modal btn btn-danger btn-circle " data-toggle="modal"
                                data-target="" title="Delete"><i class="fa fa-trash"
                                    aria-hidden="true"></i></a>
                </td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
          
        </div>
        
      </div>
      <!--/ Basic Bootstrap Table -->
    </div>
  </div>
  <div class="row container-fluid mt-2">
 
    {% if products.paginator.num_pages > 1 %}    
    {% include 'components/pagination.html' with items=products paginator=products.paginator %}
    {% endif %}
</div>
</div>
<div class="mt-5"></div>

{% endblock content %}

{% block js %}
<script>
  $('#product-menu').addClass('active open');
  $('#sub-all-product').addClass('active')
</script>
{% endblock js %}