{% extends 'base.html' %}
{% load static %}

{% block title %}
Product Quality
{% endblock %}

{% block css %}
{% endblock %}

{% block head %}
Product Quality
{% endblock %}

{% block next_page %}
<li class="breadcrumb-item text-muted" aria-current="page"><a href="{% url 'products:products-list' %}">Products</a></li>
<li class="breadcrumb-item text-muted active" aria-current="page">Quality</li>
{% endblock %}

{% block content %}
<div class="row">
    
    <div class="col-md-12 ">
        <div class="card mb-4">
            <h5 class="card-header">Quality</h5>
            
            <div class="card-body">
                <form id="id_property_form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-5">
                            <div class="form-group">
                                <label for="id_value" class="text-dark"><b>Quality Type</b></label>
                                <input type="text" id="id_value" name="category" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="id_value" class="text-dark"><b>Code</b></label>
                                <input type="text" id="id_code" name="code" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="id_value" class="text-dark"><b>Description</b></label>
                                <input type="text" id="id_description" name="description" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <button type="submit" id="id_save_property" name="save_property"
                                    class="btn btn-success bg-gradient-success"
                                    style="margin-top: 32px; border-radius: 50%;" title="Add Property">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <hr>
                <div class="row">

                    <h4 class="text-dark mt-3">Product Quality Types</h4>
                    <div class="table-responsive" id="id_attribute_data" style="height: 200px;overflow: scroll;">
                        {% if categories %}
                        <table class="table table-striped table-bordered display no-wrap">
                            <thead class="text-white bg-primary">
                                <tr>
                                    <th>Quality Types</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody class="text-dark">
                                {% for category in categories %}
                                <tr>
                                    <td>
                                        {{ category.name|title }}
                                    </td>
                                    <td>
                                        <center>
                                            <a href="javascript:void(0)"
                                                class="remove_attribute btn btn-danger btn-sm bg-gradient-danger"
                                                data-id="{{ category.id }}" id="id_remove_attribute"
                                                onclick="deleteAttribute(this);"><span class="fa fa-trash"></span></a>
                                        </center>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {%else%}
                        <center>
                            No Categories
                        </center>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{% comment %} {% include 'components/active/products-js.html' %} {% endcomment %}
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script>
    $("#id_property_form").submit(function (e) {
        e.preventDefault();
        var form = $("#id_property_form").validate();
        if (form == false)
            return false;
        create_attribute();
    });

    function create_attribute() {
        var category = $('input[name=category]').val();
        var code = $('input[name=code]').val();
        var description = $('input[name=description]').val();
        var data = {};
        data["category"] = category;
        data["code"] = code;
        data["description"] = description;

        $.ajax({
            url: '{% url "products:product-quality" %}',
            type: "POST",
            data: { "data": JSON.stringify(data), 'csrfmiddlewaretoken': '{{csrf_token}}' },
            success: function (html) {
                $('#id_attribute_data').html(html.data);
                $('input[name=category]').val('');
            },
            error: function () {
                alert('Error');
            }
        });
    }

    function deleteAttribute(e) {
        var id = jQuery(e).data("id");
        $.ajax({
            url: '{% url "products:remove-category" %}',
            type: 'POST',
            data: { 'id': id, 'csrfmiddlewaretoken': '{{csrf_token}}' },
            success: function (html) {
                $('#id_attribute_data').html(html.data);
            },
            error: function () {
                alert('Error')
            }
        });
    }
</script>
<script>
    $('#product-menu').addClass('active open');
    $('#product-quality').addClass('active')
</script>
{% endblock %}