{% extends "base.html" %}
{% load static %}

{% block title %}Inventry{% endblock %}

{% block css %}

{% endblock css %}

{% block next_page %}
<li class="breadcrumb-item text-muted active" aria-current="page"><a
    href="{% url 'inventry:inventry-dashboard' %}">Inventry</a> / 
{% endblock %}

{% block head %}
Inventry
{% endblock %}

{% block content %}

{% endblock content %}

{% block js %}
<script>
  $('#product-menu').addClass('active open');
  $('#product-dashboard').addClass('active')
</script>
{% endblock js %}