{% extends "base.html" %}
{% load static %}

{% block title %}Change Password{% endblock %}
{% block head %}
Change Password
{% endblock %}

{% block next_page %}
<li class="breadcrumb-item text-muted active" aria-current="page">Change Password</li>
{% endblock %}

{% block content %}
<br>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h4 class="card-title ml-5 mt-2 text-center ">Change Password</h4>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ form.old_password.label }}</label>
                                {{ form.old_password }}
                                <span class="text-danger">{{ form.old_password.errors }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ form.new_password1.label }}</label>
                                {{ form.new_password1 }}
                                <span class="text-danger">{{ form.new_password1.errors }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ form.new_password2.label }}</label>
                                {{ form.new_password2 }}
                                <span class="text-danger">{{ form.new_password2.errors }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mt-3">
                            <div class="form-group">
                                <button class="btn btn-primary bg-gradient-primary" type="submit">Change Password
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $('#settings').addClass('active open');
    $('#change-pass').addClass('active')
</script>
{% endblock %}