{% load product_extras %}
{% if request.path == '/products/list/' and account.id|get_product_count > 0 %}
{% if request.user.role == 'SUPER_ADMIN' or request.user.role == 'MANAGER' or request.user.role == 'BUSINESS_OWNER' %}
{% if request.user.account.all.count > 1 %}
<div class="card bg-white  mt-2">
{% else %}
<div class="card mt-2" style="background-color:rgba(0,0,0,0)">
{% endif %}
    <div class="card-body col-12 collapse show">
        <div class="row">
            <div class="col-6 float-left">
                <h3 class="card-title">{{account.website}}</h3>
            </div>
        </div>

        {% elif request.user.role == 'QC_MANAGER' and account.id|get_product_count:'IMPROVEMENT_REQUIRED' > 0 %}
        <div class="card bg-white col-12  mt-2">
            <div class="card-body col-12 collapse show">
                <div class="row">
                    <div class="col-6 float-left">
                        <h3 class="card-title">{{account.website}}</h3>
                    </div>
                </div>

                {% elif request.user.role == 'QC_VALIDATOR' and account.id|get_product_count:'IN_REVIEW' > 0 %}
                <div class="card bg-white   mt-2">
                    <div class="card-body col-12 collapse show">
                        <div class="row">
                            <div class="col-12 float-left">
                                <h3 class="card-title">{{account.website}}</h3>
                            </div>
                        </div>

                        {% else %}
                        <div class="card-transparent  mt-2">
                            <div class="card-body  col-12 collapse show">
                                {% endif %}
                                {% elif request.path == '/products/qc/approved/' and status == True %}
                                <div class="card bg-white  mt-2">
                                    <div class="card-body col-12 collapse show">
                                        <div class="row">
                                            <div class="col-6 float-left">
                                                <h3 class="card-title">{{account.website}}</h3>
                                            </div>
                                        </div>

                                        {% elif request.path == '/products/qc/rejected/' and status == True %}
                                        <div class="card bg-white col-12  mt-2">
                                            <div class="card-body col-12 collapse show">
                                                <div class="row">
                                                    <div class="col-6 float-left">
                                                        <h3 class="card-title">{{account.website}}</h3>
                                                    </div>
                                                </div>

                                                {% elif request.path == '/products/qc/improvement_review/' and status == True %}
                                                <div class="card bg-white   mt-2">
                                                    <div class="card-body col-12 collapse show">
                                                        <div class="row">
                                                            <div class="col-6 float-left">
                                                                <h3 class="card-title">{{account.website}}</h3>
                                                            </div>
                                                        </div>

                                                        {% else %}
                                                        <div class="card-transparent  mt-2">
                                                            <div class="card-body col-12 collapse show">
                                                                {% endif %}