{% load product_extras %}
<table class="table">
    <thead>
      <tr>
        <th>No</th>
        {% comment %} <th>Code</th> {% endcomment %}
        <th>Image</th>
        <th>Part<br> No</th>
        <th>Name</th>
        <th>UOM</th>
        <th>Stock</th>
        <th>Minimum<br> Stock<br> Level</th>
        
        <th>Status</th>
        <th>Action</th>
      </tr>
      
    </thead>
    <tbody class="table-border-bottom-0">
      {% for product in products %}
      <tr >
        <td>
        {{ forloop.counter|adjust_for_pagination:data }}
        </td>
        <td><img src="{{product.image}}" height="50px" width="50px" onclick="openModal(this.src)"></td>
        <td><a href="{% url "products:product-details" product.part_no %}">{{product.part_no}}</a></td>
        <td>{{product.name}}</td>
        <td> {{product.umo}} </td>
        {% if product.stock < product.minimum_stock_level %}
        <td class="bg-danger"> 
          {% else %}
          <td> 
        {% endif %}
        {{product.stock}} </td>
        
        <td>{{product.minimum_stock_level}} </td>
        
        <td> 
            {% if product.is_active %}
            <i class="fas fa-check text-success" style="font-size: 15px;"></i>
            {% else %}
            <i class="fas fa-times text-danger" style="font-size: 15px;"></i>
            {% endif %}
        </td>
        <td>
          <a href="{% url 'products:product-property' product.id %}"
                        class="btn btn-success btn-circle " title="Publish"><i class="fa-solid fa-magnet"></i></i></a>
          <a href=""
                        class="btn btn-success btn-circle " title="Publish"><i class="fa-regular fa-eye"></i></a>
          <a href="{% url 'products:products-edit' product.id %}" class="btn btn-primary btn-circle "
                        title="Product Edit"><i class="fas fa-edit" aria-hidden="true"></i></a>
          <a href="" class="open-modal btn btn-danger btn-circle " data-toggle="modal"
                        data-target="" title="Delete"><i class="fa fa-trash"
                            aria-hidden="true"></i></a>
        </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>