{% load static %}

<!-- Menu -->

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
      <a href="index.html" class="app-brand-link"><img src="{% static 'assets/img/logo.jpeg' %}" height="100px" width="150"></a>

      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>
      </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
      {% comment %} <!-- Dashboard -->
      <li class="menu-item" id="dashboard-menu" >
        <a href="{% url 'base:dashboard' %}" class="menu-link">
          <i class=" menu-icon tf-icons fa fa-home" aria-hidden="true"></i>
          <div data-i18n="Analytics">Dashboard</div>
        </a>
      </li> {% endcomment %}
      {% comment %} Products {% endcomment %}
      <li class="menu-item " id = "product-menu">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons fa-solid fa-cart-shopping"></i>
          <div data-i18n="Layouts">Item Master</div>
        </a>

        <ul class="menu-sub">
          <li class="menu-item" id="product-dashboard">
            <a href="{% url 'products:products-dashboard' %}" class="menu-link">
              <div data-i18n="Without menu">Dashboard</div>
            </a>
          </li>
          <li class="menu-item" id="sub-all-product">
            <a href="{% url 'products:products-list' %}" class="menu-link">
              <div data-i18n="Without menu">All Products</div>
            </a>
          </li>
          <li class="menu-item" id = "add-product">
            <a href="{% url 'products:products-create' %}" class="menu-link">
              <div data-i18n="Container">Add Products</div>
            </a>
          </li>
          <li class="menu-item" id = "product-category">
            <a href="{% url 'products:product-category' %}" class="menu-link">
              <div data-i18n="Container">Categories</div>
            </a>
          </li>
          <li class="menu-item" id = "product-quality">
            <a href="{% url 'products:product-quality' %}" class="menu-link">
              <div data-i18n="Container">Quality</div>
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item " id = "bom">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons fa-solid fa-money-bill"></i>
          <div data-i18n="Layouts">Bill of Materials</div>
        </a>

        <ul class="menu-sub">
          <li class="menu-item" id="bom-dashboard">
            <a href="{% url 'products:products-dashboard' %}" class="menu-link">
              <div data-i18n="Without menu">Dashboard</div>
            </a>
          </li>
          
          <li class="menu-item" id = "add-bom">
            <a href="{% url 'products:bom-create' %}" class="menu-link">
              <div data-i18n="Container">Add BOM</div>
            </a>
          </li>
          <li class="menu-item" id = "product-bom">
            <a href="{% url 'products:bom-list' %}" class="menu-link">
              <div data-i18n="Container">Bill of Materials</div>
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item " id = "inventory-menu">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons fa-solid fa-warehouse"></i>
          
          <div data-i18n="Layouts">Inventory</div>
        </a>

        <ul class="menu-sub">
          <li class="menu-item" id="inventry-dashboard">
            <a href="{% url 'inventry:inventry-dashboard' %}" class="menu-link">
              <div data-i18n="Without menu">Dashboard</div><i class=""></i>
            </a>
          </li>
          <li class="menu-item" id="add-stock">
            <a href="{% url 'inventry:add-stock' %}" class="menu-link">
              <div data-i18n="Without menu">Stock Transection</div><i class=""></i>
            </a>
          </li>
          <li class="menu-item" id="stock-histories">
            <a href="{% url 'inventry:stock-histories' %}" class="menu-link">
              <div data-i18n="Without menu">Stock Histories</div>
            </a>
          </li>
          {% comment %} <li class="menu-item" id="sub-all-inward">
            <a href="{% url 'inventry:inward' %}" class="menu-link">
              <div data-i18n="Without menu">In-Ward</div><i class=""></i>
            </a>
          </li> {% endcomment %}
          {% comment %} <li class="menu-item" id = "inventory-outward">
            <a href="{% url 'inventry:outward' %}" class="menu-link">
              <div data-i18n="Container">Out-Ward</div>
            </a>
          </li> {% endcomment %}
          {% comment %} <li class="menu-item" id = "inventory-qc">
            <a href="{% url 'inventry:qc-list' %}" class="menu-link">
              <div data-i18n="Container">In-Ward-QC</div>
            </a>
          </li> {% endcomment %}
        </ul>
      </li>
      <li class="menu-item " id = "vendor-menu">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons fa-solid fa-shop"> </i>
          <div data-i18n="Layouts"> Party Master</div>
        </a>

        <ul class="menu-sub">
          <li class="menu-item" id="vendor-dashboard">
            <a href="{% url 'vendors:vendor-dashboard' %}" class="menu-link">
              <div data-i18n="Without menu">Dashboard</div>
            </a>
          </li>
          <li class="menu-item" id="sub-all-vendor">
            <a href="{% url 'vendors:vendor-list' %}" class="menu-link">
              <div data-i18n="Without menu">All Vendors</div>
            </a>
          </li>
          <li class="menu-item" id = "add-vendor">
            <a href="{% url 'vendors:vendor-create' %}" class="menu-link">
              <div data-i18n="Container">Add Vendor</div>
            </a>
          </li>
          <li class="menu-item" id = "vendor-categories">
            <a href="{% url 'vendors:vendor-category' %}" class="menu-link">
              <div data-i18n="Container">Categories</div>
            </a>
          </li>
        </ul>
        
      </li>

      <li class="menu-item " id = "settings">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons fa-solid fa-gear"></i>
          <div data-i18n="Layouts"> Settings</div>
        </a>

        <ul class="menu-sub">
          <li class="menu-item" id="change-pass">
            <a href="{% url 'base:change-password' %}" class="menu-link">
              <div data-i18n="Without menu">Change Password</div>
            </a>
          </li>
          <li class="menu-item" id="vendor-dashboard">
            <a href="{% url 'base:logout' %}" class="menu-link">
              <div data-i18n="Without menu">Log Out</div>
            </a>
          </li>
        </ul>
        
      </li>

      {% comment %} <li class="menu-item " id = "inventory-menu">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons fa-solid fa-warehouse"></i>
          <div data-i18n="Layouts">Inventory</div>
        </a> {% endcomment %}

        {% comment %} <ul class="menu-sub">
          <li class="menu-item" id="inventry-dashboard">
            <a href="{% url 'inventry:inventry-dashboard' %}" class="menu-link">
              <div data-i18n="Without menu">Dashboard</div><i class=""></i>
            </a>
          </li>
          <li class="menu-item" id="sub-all-inward">
            <a href="{% url 'inventry:inward' %}" class="menu-link">
              <div data-i18n="Without menu">In-Ward</div><i class=""></i>
            </a>
          </li>
          <li class="menu-item" id = "inventory-outward">
            <a href="{% url 'inventry:outward' %}" class="menu-link">
              <div data-i18n="Container">Out-Ward</div>
            </a>
          </li>
          <li class="menu-item" id = "inventory-qc">
            <a href="{% url 'inventry:qc-list' %}" class="menu-link">
              <div data-i18n="Container">In-Ward-QC</div>
            </a>
          </li>
        </ul> {% endcomment %}
      </li>

      {% comment %} <!-- Layouts -->
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-layout"></i>
          <div data-i18n="Layouts">Layouts</div>
        </a>

        <ul class="menu-sub">
          <li class="menu-item">
            <a href="layouts-without-menu.html" class="menu-link">
              <div data-i18n="Without menu">Without menu</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="layouts-without-navbar.html" class="menu-link">
              <div data-i18n="Without navbar">Without navbar</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="layouts-container.html" class="menu-link">
              <div data-i18n="Container">Container</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="layouts-fluid.html" class="menu-link">
              <div data-i18n="Fluid">Fluid</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="layouts-blank.html" class="menu-link">
              <div data-i18n="Blank">Blank</div>
            </a>
          </li>
        </ul>
      </li>

      <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Pages</span>
      </li>
      {% endcomment %}
      {% comment %} <li class="menu-item"> 
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-dock-top"></i>
          <div data-i18n="Account Settings">Employees</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="{% url 'employees:list' %}" class="menu-link">
              <div data-i18n="Account">List</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="{% url 'employees:create' %}" class="menu-link">
              <div data-i18n="Account">Add</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="pages-account-settings-notifications.html" class="menu-link">
              <div data-i18n="Notifications">Update</div>
            </a>
          </li>
        </ul>
      </li> {% endcomment %}
      {% comment %} 
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
          <div data-i18n="Authentications">Authentications</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="auth-login-basic.html" class="menu-link" target="_blank">
              <div data-i18n="Basic">Login</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="auth-register-basic.html" class="menu-link" target="_blank">
              <div data-i18n="Basic">Register</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="auth-forgot-password-basic.html" class="menu-link" target="_blank">
              <div data-i18n="Basic">Forgot Password</div>
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-cube-alt"></i>
          <div data-i18n="Misc">Misc</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="pages-misc-error.html" class="menu-link">
              <div data-i18n="Error">Error</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="pages-misc-under-maintenance.html" class="menu-link">
              <div data-i18n="Under Maintenance">Under Maintenance</div>
            </a>
          </li>
        </ul>
      </li>
      <!-- Components -->
      <li class="menu-header small text-uppercase"><span class="menu-header-text">Components</span></li>
      <!-- Cards -->
      <li class="menu-item">
        <a href="cards-basic.html" class="menu-link">
          <i class="menu-icon tf-icons bx bx-collection"></i>
          <div data-i18n="Basic">Cards</div>
        </a>
      </li>
      <!-- User interface -->
      <li class="menu-item">
        <a href="javascript:void(0)" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-box"></i>
          <div data-i18n="User interface">User interface</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="ui-accordion.html" class="menu-link">
              <div data-i18n="Accordion">Accordion</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="ui-alerts.html" class="menu-link">
              <div data-i18n="Alerts">Alerts</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="ui-badges.html" class="menu-link">
              <div data-i18n="Badges">Badges</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="ui-buttons.html" class="menu-link">
              <div data-i18n="Buttons">Buttons</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="ui-carousel.html" class="menu-link">
              <div data-i18n="Carousel">Carousel</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="ui-collapse.html" class="menu-link">
              <div data-i18n="Collapse">Collapse</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="ui-dropdowns.html" class="menu-link">
              <div data-i18n="Dropdowns">Dropdowns</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="ui-footer.html" class="menu-link">
              <div data-i18n="Footer">Footer</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="ui-list-groups.html" class="menu-link">
              <div data-i18n="List Groups">List groups</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="ui-modals.html" class="menu-link">
              <div data-i18n="Modals">Modals</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="ui-navbar.html" class="menu-link">
              <div data-i18n="Navbar">Navbar</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="ui-offcanvas.html" class="menu-link">
              <div data-i18n="Offcanvas">Offcanvas</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="ui-pagination-breadcrumbs.html" class="menu-link">
              <div data-i18n="Pagination &amp; Breadcrumbs">Pagination &amp; Breadcrumbs</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="ui-progress.html" class="menu-link">
              <div data-i18n="Progress">Progress</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="ui-spinners.html" class="menu-link">
              <div data-i18n="Spinners">Spinners</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="ui-tabs-pills.html" class="menu-link">
              <div data-i18n="Tabs &amp; Pills">Tabs &amp; Pills</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="ui-toasts.html" class="menu-link">
              <div data-i18n="Toasts">Toasts</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="ui-tooltips-popovers.html" class="menu-link">
              <div data-i18n="Tooltips & Popovers">Tooltips &amp; popovers</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="ui-typography.html" class="menu-link">
              <div data-i18n="Typography">Typography</div>
            </a>
          </li>
        </ul>
      </li>

      <!-- Extended components -->
      <li class="menu-item">
        <a href="javascript:void(0)" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-copy"></i>
          <div data-i18n="Extended UI">Extended UI</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="extended-ui-perfect-scrollbar.html" class="menu-link">
              <div data-i18n="Perfect Scrollbar">Perfect scrollbar</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="extended-ui-text-divider.html" class="menu-link">
              <div data-i18n="Text Divider">Text Divider</div>
            </a>
          </li>
        </ul>
      </li>

      <li class="menu-item">
        <a href="icons-boxicons.html" class="menu-link">
          <i class="menu-icon tf-icons bx bx-crown"></i>
          <div data-i18n="Boxicons">Boxicons</div>
        </a>
      </li>

      <!-- Forms & Tables -->
      <li class="menu-header small text-uppercase"><span class="menu-header-text">Forms &amp; Tables</span></li>
      <!-- Forms -->
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-detail"></i>
          <div data-i18n="Form Elements">Form Elements</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="forms-basic-inputs.html" class="menu-link">
              <div data-i18n="Basic Inputs">Basic Inputs</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="forms-input-groups.html" class="menu-link">
              <div data-i18n="Input groups">Input groups</div>
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-detail"></i>
          <div data-i18n="Form Layouts">Form Layouts</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="form-layouts-vertical.html" class="menu-link">
              <div data-i18n="Vertical Form">Vertical Form</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="form-layouts-horizontal.html" class="menu-link">
              <div data-i18n="Horizontal Form">Horizontal Form</div>
            </a>
          </li>
        </ul>
      </li>
      <!-- Tables -->
      <li class="menu-item">
        <a href="tables-basic.html" class="menu-link">
          <i class="menu-icon tf-icons bx bx-table"></i>
          <div data-i18n="Tables">Tables</div>
        </a>
      </li>
      <!-- Misc -->
      <li class="menu-header small text-uppercase"><span class="menu-header-text">Misc</span></li>
      <li class="menu-item">
        <a
          href="https://github.com/themeselection/sneat-html-admin-template-free/issues"
          target="_blank"
          class="menu-link"
        >
          <i class="menu-icon tf-icons bx bx-support"></i>
          <div data-i18n="Support">Support</div>
        </a>
      </li>
      <li class="menu-item">
        <a
          href="https://themeselection.com/demo/sneat-bootstrap-html-admin-template/documentation/"
          target="_blank"
          class="menu-link"
        >
          <i class="menu-icon tf-icons bx bx-file"></i>
          <div data-i18n="Documentation">Documentation</div>
        </a>
      </li> {% endcomment %}
    </ul>
  </aside>