{% extends "base.html" %}
{% load static %}
{% load product_extras %}

{% block title %}{{category}}{% endblock %}

{% block css %}

{% endblock css %}

{% block next_page %}
<li class="breadcrumb-item text-muted active" aria-current="page"><a
  href="{% url 'products:products-list' %}">Products</a> / <b class="text-dark">{{category}}<b></li>
{% endblock %}

{% block head %}
{{category}}
{% endblock %}

{% block content %}

<div class="container mt-3 mb-5">
  <div class="row">
    

    <div class="col-6 ">
      <input type="text" class="form-control " name="search" placeholder="Search" id="id_search" />      
    </div>
    <div class="col-6 float-end"> 
      <a href="{% url 'products:products-create' %}"><button type="button" class="btn btn-success float-end mb-2">Add New Product</button></a>
    </div>
    <div class="col-12">

      <!-- Basic Bootstrap Table -->
      <div class="card">
        <h5 class="card-header">{{category}}</h5>
        
        {% comment %} <a class="btn btn-success col-1">Add New</a> {% endcomment %}
        <div class="table-responsive text-nowrap" id="id_products_list">
          <table class="table">
            <thead>
              <tr>
                <th>No</th>
                {% comment %} <th>Code</th> {% endcomment %}
                <th>Image</th>
                <th>Part<br>No</th>
                <th>Name</th>
                <th>UOM</th>
                <th>Stock</th>
                <th>Minimum<br> Stock<br> Level</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
              
            </thead>
            <tbody class="table-border-bottom-0">
              {% for product in products %}
              <tr >
                <td> 
                  {% comment %} {% if is_paginated %}
                  {{ forloop.counter|adjust_for_pagination:page }}
                  {% else %}
                  
                  {% endif %} {% endcomment %}
                   {{ forloop.counter }}
                  
             </td>
                <td><img src="{{product.image}}" height="50px" width="50px" onclick="openModal(this.src)"></td>
                <td><a href="{% url "products:product-details" product.part_no %}">{{product.part_no}}</a></td>
                <td>{{product.name}}</td>
                <td> {{product.umo}} </td>
                {% if product.stock < product.minimum_stock_level %}
                <td class="bg-danger"> 
                  {% else %}
                  <td> 
                {% endif %}
                {{product.stock}} </td>
                
                <td>{{product.minimum_stock_level}} </td>
                
                <td> 
                    {% if product.is_active %}
                    <i class="fas fa-check text-success" style="font-size: 15px;"></i>
                    {% else %}
                    <i class="fas fa-times text-danger" style="font-size: 15px;"></i>
                    {% endif %}
                </td>
                <td>
                  <a href="{% url 'products:product-property' product.id %}"
                                class="btn btn-success btn-circle " title="Publish"><i class="fa-solid fa-magnet"></i></i></a>
                  <a href=""
                                class="btn btn-success btn-circle " title="Publish"><i class="fa-regular fa-eye"></i></a>
                  <a href="{% url 'products:products-edit' product.id %}" class="btn btn-primary btn-circle "
                                title="Product Edit"><i class="fas fa-edit" aria-hidden="true"></i></a>
                  <a href="" class="open-modal btn btn-danger btn-circle " data-toggle="modal"
                                data-target="" title="Delete"><i class="fa fa-trash"
                                    aria-hidden="true"></i></a>
                </td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
          
        </div>
        
      </div>
      <!--/ Basic Bootstrap Table -->
    </div>
  </div>
  <div class="row container-fluid mt-2">
    {% if products.paginator.num_pages > 1 %}
    {% include 'components/pagination.html' with items=products paginator=products.paginator %}
    {% endif %}
</div>
</div>
<div class="mt-5"></div>
<!-- The Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <!-- Modal content -->
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Close button -->
      <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close"></button>
      <!-- Image container -->
      <img id="modalImage" src="" alt="Modal Image" style="width: 100%; height: 100%;">
    </div>
  </div>
</div>


{% endblock content %}

{% block js %}
<script>
  $('#product-menu').addClass('active open');
  $('#sub-all-product').addClass('active')
</script>

<script>
  // Function to open the modal with the clicked image
  function openModal(imageSrc) {
    // Get the modal and image elements
    var modalImage = document.getElementById('modalImage');

    // Set the image source in the modal
    modalImage.src = imageSrc;

    // Display the modal
    var modal = new bootstrap.Modal(document.getElementById('imageModal'));
    modal.show();
  }
</script>

<script>
  $(document).on("keyup", "#id_search", function () {
    console.log("Hi")
    var select = document.getElementById("inputGroupSelect01");
    var selectedOption = select.options[select.selectedIndex];
    var selectedValue = selectedOption.value;
    
    var query = this.value;
    // var category = $()
    $.ajax({
        url: '/products/search/',
        type: 'GET',
        data: { 'query': query, "category":{{category}}},
        success: function (data) {
            $('#id_products_list').html(data.data);
        }
    });
});
</script>

{% endblock js %}