{% for customer in customers %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{customer.name|upper}}</td>
      <td>{{customer.contect_person|upper}}</td>
      <td>{{customer.mobile}}</td>
      <td>{{customer.email|lower}}</td>
      <th>{{customer.orderdetails_set.count}}</th>
      <td>
        <a href="{% url 'customers:show-customer' customer.id %}"
                      class="btn btn-primary btn-circle " title="Show details"><i class=" text-white fa-solid fa-eye"></i></i></a>
        <a href="{% url 'orders:orders-create' customer.id %}"
                      class="btn btn-success btn-circle " title="Create Order"><i class="fa-solid fa-store"></i></a>
      </td>
    </tr>
{% endfor %}