<div class="card">
{% if inwords %}

    <div class="card-body">
    <table class="table" >
    <tr>
        <th>Part No</th>
        <th>Name</th>
        <th>Part QTY</th>
        <th>Qc Status</th>
    </tr>
    
    {% for product in inwords.product %}
    <tr>
        <td>{{product.code}}</td>
        <td>{{product.name}}</td>
        <td>{{product.received_qty}}</td>
        <td>
            {% if product.qc %}
                <i class="fas fa-check text-success" style="font-size: 15px;"></i>
            {% else %}
                <i class="fas fa-times text-danger" style="font-size: 15px;"></i>
            {% endif %}
        </td>
        <td>
    </tr>
    {% endfor %}
</table>
</div>
{% endif %}